html, body {
    height: 100%;
}

body {
    display: flex;flex-direction: column;
}

#main-container {
    width: 50%;
    border-style: solid;
    border-color: grey;
}

td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

input {
    border-radius: 25px;
}

.button {
    border-radius: 25px;
}
.string-input {
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}